@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

$primaryColor: #FFB31E;
$textColor: #3D3D3D;
$bodyBackgroundColor: #F6F6F6;

$fontFamily: 'Titillium Web', sans-serif;

$outlineColor: #EFEFEF;

$linkHoverBgColor: #f7f7f7;