@import '~@/assets/fezicons.css';

@font-face{
    font-family: 'Rubik';
    src: '~@/assets/fonts/Rubik-Regular.ttf' format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Rubik';
    src: '~@/assets/fonts/Rubik-Light.ttf' format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Rubik';
    src: '~@/assets/fonts/Rubik-Bold.ttf' format('truetype');
    font-style: normal;
    font-weight: bold;
}

body {
    font-family: $fontFamily;
    color: $textColor;
}

.primary-text{
    color: $textColor;
}