.fez123-modal-container{
    background-color: rgba(255, 255, 255, .5);

    .fez123-modal{
        width: 50%;
        min-height: 300px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.vodal-dialog{
    right: initial !important;
    bottom: initial !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    height: auto !important;
}