body{
    background-color: $bodyBackgroundColor;
}

.main-content{
    height: calc(100vh - 51px);
}

.center-float{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}